{##
#	@file		index.njk
#
#	@desc		This template is for the main page of the website, it includes
#               what we refer to as `quick_navigation_items` which are the
#               boxes on the main page linking to specific areas of the
#               site.
#
#   @author		Colin Sullivan <colin [at] colin-sullivan.net>
#   @author		tallt0m <t2 [at] talltom.net>
#
#	@copyright	2017 the kagyumonlam.org project contributors.
#	@license	Licensed under the MIT license.
##}

{% extends "./layout.njk" %}

{% block main %}
    {% for item in quick_navigation_items %}
        <div class="col-xs-12 quick_navigation_box_row">
            <div class="quick_navigation_box">
                <a class="row" href="{{item.href}}" target="{{item.target}}">
                    <figure class="col-xs-3 col-sm-3 col-md-2" style="background-image:url('{{item.thumbnail_img_src}}');">
                    </figure>
                    <span class="col-xs-9 col-sm-9 col-md-10">
                        <h2>{{item.title}}</h2>
                        <p>{{item.subtitle}}</p>
                    </span>
                </a>
            </div>
        </div>
    {% endfor %}
    {{contents | safe}}
{% endblock %}
