/*@topPhotoHeight: 0;*/
@logoHeight: 100px;
@navbarHeight: @logoHeight;
/*@leftMargin: 1.25em;*/
@headerTextColor: white;
.navbar {
  margin-bottom: 0;
  /*height: @navbarHeight;*/
  background-color: transparent;
  border: none;

  .container-fluid {
    padding: 0;
  }

}

/*.container-fluid > .navbar-header {*/
  /*margin: 0;*/
/*}*/

/*div.row.headerimage { */
  /*height: @topPhotoHeight;*/
/*}*/
/*div.row.logo {*/
  /*height: @logoHeight;*/
  /*padding-top: 20px;*/
/*}*/

button.navbar-toggle {
  float: left;
  /*margin-left: @leftMargin;*/
  margin: 0;
  /*border: 0;*/
  /*padding: 0;*/
  .icon-bar {
    background-color: @headerTextColor;
  }
}
.navbar {
  border-bottom: 4px solid @headingsAccentColor;
  
}
.navbar-header {
  /*background-image: url('../media/images/karmapa_17_04.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-position: left top;*/
  /*background-color: transparent;*/

  /*height: 100%;*/
  /*width: 100%;*/

  /*padding-top: 1em;*/


  /*position: relative;*/

}
div.header_navigation_row {
  
  padding-top: 1em;
  padding-bottom: 1em;

}
div.heading-info {
  color: @headerTextColor;
  font-weight: bold;
  text-align: right;
}

a.header_logo {
  display: block;
  div.monlamSwish, div.title_and_subtitle {
    display: inline-block;
  }


  // tighten up positioning between title and icon
  div.title_and_subtitle {
    position: relative;
    left: -1.25em;
    top: 0.25em;
    
    h1 {
      margin: 0;
    }
  }


  // swish icon
  div.monlamSwish {
    width: 4em;

    svg {
      fill: @headingsAccentColor;
    }
  }


  /* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */

  /*text-align: center;*/
  /*float: none;*/
  /*margin: auto;*/

  /* Small devices (tablets, 768px and up) */
  /*@media (min-width: @screen-sm-min) {*/

    /*text-align: left;*/

    /*.monlamSwish {*/
      /*width: 175px;*/
    /*}*/

    /*h1 {*/
      /*position: relative;*/
      /*top: -40px;*/
      /*left: -60px;*/
    /*}*/

    /*div.subtitle {*/
      /*position: relative;*/
      /*top: -40px;*/
      /*left: 120px;*/
    /*}*/
  /*}*/

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: @screen-md-min) {

  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: @screen-lg-min) {

  }

  
}


div.header_social {
  text-align: right;
  /*padding-right: 2em;*/
  padding-left: 0;
}

