@topPhotoHeight: 256px;
@logoHeight: 100px;
@navbarHeight: @topPhotoHeight + @logoHeight;
@leftMargin: 1.25em;
@headerTextColor: white;
.navbar {
  margin-bottom: 0;
  height: @navbarHeight;
  background-color: transparent;
  border: none;
}
.navbar-header {
  background-image: url('../media/images/karmapa_17_04.jpg');

  height: @topPhotoHeight;

  button.navbar-toggle {
    float: left;
    margin-left: @leftMargin;
    border: 0;
    .icon-bar {
      background-color: @headerTextColor;
    }
  }

  position: relative;

  a.navbar-brand {
    display: block;
    position: absolute;
    bottom: 2em;
    margin-left: @leftMargin;
    height: 2em; // TODO: this is wrong
  }

  border-bottom: 4px solid @headingsAccentColor;
}
div.heading-info {
  color: @headerTextColor;
  margin-left: @leftMargin;
}

